h2 {
    text-align: center;
    color: greenyellow;   
    border-bottom: 1px greenyellow;
    text-decoration: underline;
    padding-bottom: 5px;
    margin-top: 30px;
    font-size: 230%;
    }
    h1 {
    text-align: center;
    color: greenyellow;
    text-decoration: underline;
    font-size: 300%;    
    background-color: grey;
    }
    body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: greenyellow;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }
    header{
    background-color: solid grey;
    text-decoration: underline;
    }
    
    main{
    width: 1200px;
    background-color: gray;
    border: 1px greenyellow;
    padding: 45px; 
    margin: 45px;
    padding: 45px;
    border-radius: 1px;
    }
    footer {
    text-align: center;
    color: greenyellow;
    border-radius: 15px;
    margin-top: 35px;
    padding: 5px;
    text-align: center;
    width: 1000px;
    }
    section{
        width: 1200px;
        background-color: gray;
        border: 1px greenyellow;
        padding: 45px; 
        margin: 45px;
        padding: 45px;
        border-radius: 1px;
        }